{
	http_port       80
	https_port      443
	admin           off
	log default {
		level WARN
		format json
		output stdout
	}
	email {$EMAIL}
	acme_dns route53 {
		max_retries 3
		access_key_id {$R53_AKID}
		secret_access_key {$R53_SAK}
		region {$R53_Region}
	}
	key_type p384
	cert_issuer zerossl {$ZEROSSL_API} {
		email {$EMAIL}
	}
	renew_interval 1h
	ocsp_interval 2h
}

adguard.{$BASE_DOMAIN} {
	reverse_proxy {
		to adguardhome:80

		header_up Host {upstream_hostport}
		header_up X-Real-IP {client_ip}
		header_up X-Forwarded-For {client_ip}

		health_uri /
		health_port 80
	}
}

hass.{$BASE_DOMAIN} {
	reverse_proxy {
		to homeassistant:8123

		header_up Host {upstream_hostport}
		header_up X-Forwarded-For {client_ip}
	}
}

calibre-server.{$BASE_DOMAIN} {
	reverse_proxy {
		to calibre:8080

		header_up Cross-Origin-Embedder-Policy require-corp
		header_up Cross-Origin-Opener-Policy same-origin
		header_up Cross-Origin-Resource-Policy same-site
	}
}

calibre-web.{$BASE_DOMAIN} {
	reverse_proxy {
		to calibre-web:8083
	}
}

syncthing.{$BASE_DOMAIN} {
	reverse_proxy {
		to syncthing:8384
	}
}

homepage.{$BASE_DOMAIN} {
	reverse_proxy {
		to homepage:3000
	}
}
